<a href="https://colab.research.google.com/github/Adharsh0001/Machine-Learning/blob/main/Decision_Tree_for_Regression.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [2]:
import pandas as pd
from sklearn.model_selection import train_test_split

mpg = pd.read_csv("https://raw.githubusercontent.com/Adharsh0001/Machine-Learning/main/auto-mpg.csv")
del mpg["car name"]
mpg.head(3)

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
0,18.0,8,307.0,130,3504,12.0,70,1
1,15.0,8,350.0,165,3693,11.5,70,1
2,18.0,8,318.0,150,3436,11.0,70,1

In [3]:
mpg.isnull().sum()

mpg             0
cylinders       0
displacement    0
horsepower      0
weight          0
acceleration    0
model year      0
origin          0
dtype: int64

In [4]:
mpg.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower       object
weight            int64
acceleration    float64
model year        int64
origin            int64
dtype: object

In [5]:
mpg["horsepower"].unique()

array(['130', '165', '150', '140', '198', '220', '215', '225', '190',
       '170', '160', '95', '97', '85', '88', '46', '87', '90', '113',
       '200', '210', '193', '?', '100', '105', '175', '153', '180', '110',
       '72', '86', '70', '76', '65', '69', '60', '80', '54', '208', '155',
       '112', '92', '145', '137', '158', '167', '94', '107', '230', '49',
       '75', '91', '122', '67', '83', '78', '52', '61', '93', '148',
       '129', '96', '71', '98', '115', '53', '81', '79', '120', '152',
       '102', '108', '68', '58', '149', '89', '63', '48', '66', '139',
       '103', '125', '133', '138', '135', '142', '77', '62', '132', '84',
       '64', '74', '116', '82'], dtype=object)

In [6]:
mpg = mpg.loc[mpg.horsepower != "?", :]

In [7]:
mpg.shape

(392, 8)

In [8]:
mpg.horsepower = mpg.horsepower.astype("int")
mpg.dtypes

mpg             float64
cylinders         int64
displacement    float64
horsepower        int64
weight            int64
acceleration    float64
model year        int64
origin            int64
dtype: object

In [9]:
mpg.describe()

,mpg,cylinders,displacement,horsepower,weight,acceleration,model year,origin
count,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000,392.000000
mean,23.445918,5.471939,194.411990,104.469388,2977.584184,15.541327,75.979592,1.576531
std,7.805007,1.705783,104.644004,38.491160,849.402560,2.758864,3.683737,0.805518
min,9.000000,3.000000,68.000000,46.000000,1613.000000,8.000000,70.000000,1.000000
25%,17.000000,4.000000,105.000000,75.000000,2225.250000,13.775000,73.000000,1.000000
50%,22.750000,4.000000,151.000000,93.500000,2803.500000,15.500000,76.000000,1.000000
75%,29.000000,8.000000,275.750000,126.000000,3614.750000,17.025000,79.000000,2.000000
max,46.600000,8.000000,455.000000,230.000000,5140.000000,24.800000,82.000000,3.000000

In [10]:
X = mpg.drop("mpg", axis = "columns")
Y = mpg["mpg"]
X_train, X_test, Y_train, Y_test = train_test_split(X,Y, test_size = 0.2)

In [11]:
from sklearn.tree import DecisionTreeRegressor
dt = DecisionTreeRegressor()
dt.fit(X_train, Y_train)
Y_pred = dt.predict(X_test)
Y_pred

array([26. , 19. , 11. , 21.5, 14. , 21. , 23. , 28. , 21. , 13. , 38. ,
       12. , 26. , 25.4, 18. , 21. , 13. , 28.1, 22. , 31. , 11. , 10. ,
       15. , 27. , 16. , 35. , 19. , 29. , 31.3, 39.4, 37. , 34.5, 25.8,
       34. , 20.3, 22.3, 18.5, 24. , 29. , 14. , 13. , 16. , 35.1, 20.5,
       29. , 19.8, 26. , 31.9, 22.3, 13. , 19. , 36.1, 16.2, 14.5, 21.1,
       25. , 18. , 19.9, 27.2, 13. , 20. , 11. , 14. , 19. , 27. , 22. ,
       36. , 29. , 17. , 20.5, 17.5, 33. , 31.9, 32.4, 21. , 22.3, 20.3,
       18. , 21. ])

Since its an regression test, we are going with R2 score

In [12]:
from sklearn.metrics import r2_score
Y_pred = dt.predict(X_test)
rsquared = r2_score(Y_test,Y_pred)
print("Test set R2 of dt:", rsquared)

Test set R2 of dt: 0.8333916646493997

In [13]:
mpg["cylinders"].unique()

array([8, 4, 6, 3, 5])